html,
body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  margin: 2vh 2vw 2vh 2vw;
  text-align: center;
}

h2 {
  text-align: left;
}

abbr {
  text-decoration: underline;
}

a {
  color: #b0cee4;
}

blockquote {
  border-left: 0.5em solid #b0b0b0;
  padding-left: 1em;
  margin-left: -1.5em;
}

input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10pt;
  display: inline-block;
  text-align: left;
  border-radius: 0;
  border: 1px solid #b0cee4;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}

.sect {
  margin: 0vw 3vw 0vw 3vw;
  padding: 2vh 2vw 1vh 2vw;
  background-color: #f6fafd;
}

section {
  margin: 0vh -1vw 0vh -1vw;
  padding: 3vh 17.5vw 3vh 17.5vw;
  text-align: justify;
}

.small {
  font-size: 0.7em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.colored {
  background-color: #f6fafd;
}

hr {
  border-color: #b0cee4;
  margin: 1vh 1vw 1vh 1vw;
}

button {
  background-color: #b0cee4;
  border: none;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10pt;
  margin: 0.5em auto 0.5em auto;
}